<h1 class="port">Portfolio</h1>
<div class="portfolio-grid">

    <div class="card1">
        <figure>
            <img src="img/port1.png" alt="3d character model">
            <figcaption>3D Charater Modelling</figcaption>
        </figure>
    </div>

    <div class="card2">
        <figure>
            <img src="img/port2.png" alt="digital drawing concept art">
            <figcaption>Castle Concept Art</figcaption>
        </figure>
    </div>

    <div class="card3">
        <figure>
            <img src="img/port3.png" alt="Elysian field logo design">
            <figcaption>Logo Design</figcaption>
        </figure>
    </div>

    <div class="card4">
        <figure>
            <img src="img/port4.png" alt="pine tree and water droplet photo">
            <figcaption>Rule of Third</figcaption>
        </figure>
    </div>

    <div class="card5">
        <figure>
            <img src="img/port5.png" alt="red cardinal photo">
            <figcaption>Nature Focus</figcaption>
        </figure>
    </div>

    <div class="card6">
        <figure>
            <img src="img/port6.png" alt="scroll 3d model">
            <figcaption>Object 3D Modelling</figcaption>
        </figure>
    </div>
</div>
